.btn {
    background: none;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: inherit;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
  }
  
  .btn--primary {
    color: black;
    background-color: hsl(0, 0%, 80%);
    height: 35px;
    vertical-align: middle;
    font-size: large;
    
  }
  
  .btn--primary:hover {
    color: white;
    background-color: hsl(0, 0%, 0%);
  }

  .btn--danger {
    color: white;
    background-color: hsl(0, 100%, 50%);
  }
  
  .btn--danger:hover {
    background-color: hsl(0, 100%, 35%);
  }

