@font-face {
  font-family: RobotoCondensed;
  src: url('../fonts/RobotoCondensed-Bold.ttf') format('ttf'), url('../fonts/RobotoCondensed-BoldItalic.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}
  
@font-face {
  font-family: RobotoCondensed;
  src: url('../fonts/RobotoCondensed-Light.ttf') format('ttf'), url('../fonts/RobotoCondensed-LightItalic.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}
  
@font-face {
  font-family: RobotoCondensed;
  src: url('../fonts/RobotoCondensed-Regular.ttf') format('ttf'), url('../fonts/RobotoCondensed-Italic.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}